@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


<p>
    Unfortunatley, we cannot process your request at this time. Our team have been notified and we will work towards resolving this issue as soon as possible.
    <br/>
    <a href="Privacy" class="btn btn-primary">Return to Privacy</a>
</p>

